datasets/.sam2.1_b.pt.1798c593753c443fa09999e988daf2de.part
datasets/sam2.1_b.pt
datasets/video1.mp4
.venv
datasets/input.json
datasets/output.json
datasets/points.txt
datasets/car.mp4
datasets/car1.mp4
parking car.avi
datasets/video
datasets/images_frame
Data_test
datasets/output.mp4
datasets/all_centers.py
datasets/auto_convert.py
datasets/parking_car.mp4
datasets/parking car result.avi